:host {
  display: block;
}

.menu-item {
  &--leaf {
    padding: 0;
  }

  &__children {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &--active {
    background: rgba(0, 0, 0, 0.06);
    font-weight: 500;
  }
}
