<mat-toolbar color="primary" class="home-toolbar">
  <span class="home-toolbar__title">Forge.Desk</span>
  <app-open-tabs-bar class="home-toolbar__tabs"></app-open-tabs-bar>
  @if (currentUser(); as user) {
    <span class="home-toolbar__user">{{ user.name ?? user.login }}</span>
  }
  <button mat-icon-button type="button" [matMenuTriggerFor]="userMenu" aria-label="Menu użytkownika">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item type="button" (click)="userSettings()">
      <mat-icon>settings</mat-icon>
      <span>Ustawienia użytkownika</span>
    </button>
    <button mat-menu-item type="button" (click)="globalSettings()">
      <mat-icon>tune</mat-icon>
      <span>Ustawienia globalne</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item type="button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Wyloguj</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="home-shell">
  <mat-sidenav mode="side" opened class="home-shell__sidenav">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="home-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
